/*Pagina de inicio JMR*/
.navegacion{
	border-radius:7px 7px 0px 0px; 
	margin-top: 5px;	
	background: -moz-linear-gradient(bottom, #FAFCFD 0%,#7AACCA 100%); 
	background: -ms-linear-gradient(bottom,  #FAFCFD 0%,#7AACCA 100%);
	background: -webkit-linear-gradient(bottom,  #FAFCFD 0%,#7AACCA 100%);
	background: -o-linear-gradient(bottom,  #FAFCFD 0%,#7AACCA 100%);
	background:linear-gradient(bottom,  #FAFCFD 0%,#7AACCA 100%);/*W3C*/*/
}
.lista{
	text-decoration: none;
}
.lista:hover{
	text-decoration: none;
}
.container-fluid{
	background-color: #FAFCFD;
}
.link{
	font-family: Arial;
	padding: 50px;
}
.title{
	color: #fff !important;	
	font-size: 30px;
	text-align: center;
	text-shadow: #226497 3px 3px 5px;
}
.contenido-navegacion{
	padding-top: 10px;
}
.usuarios{
	padding-right: 20px;
	padding-top: 20px;
}
.navegacion-derecha{
	/*margin-top: 0px;*/
}
.logo{
	padding: 10px 10px 0px 10px;
}
.menu{
	color: #FAFCFD !important;
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: bold;
	border: none;
}
.menu li{
	color:#fff !important;
	
}
.menu li:hover{
	border-radius:5px 5px 0px 0px; 
	color:#317EAC !important;
	background-color:  #FAFCFD;
	
}
.activo{
	border-radius:5px 5px 0px 0px; 
	color:#317EAC !important;
	background-color:  #FAFCFD;
}
.tabla_info td{
	padding: 10px;
}

input.error{ 
	background-color: #ffffff;
  	border-color: rgba(255, 81, 5, 0.6);
  	outline: 0;
  	outline: thin dotted \9;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 81, 5, 0.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 81, 5, 0.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 81, 5, 0.6);
  	-webkit-transition: border solid 0.2s, box-shadow linear 0.2s;
  	-moz-transition: border solid 0.2s, box-shadow linear 0.2s;
}

#form_1 { width: 100%; text-align: left;}
#form_1 label.error {
color: #FF5105;
margin-left: 10px;
width: auto;
display: inline;
}
#form_3 { width: 100%; text-align: left;}
#form_3 label.error {
color: #FF5105;
margin-left: 10px;
width: auto;
display: inline;
}
#form_4 { width: 100%; text-align: left;}
#form_4 label.error {
color: #FF5105;
margin-left: 10px;
width: auto;
display: inline;
}
#form_5 { width: 100%; text-align: left;}
#form_5 label.error {
color: #FF5105;
margin-left: 10px;
width: auto;
display: inline;
}
#form_6 { width: 100%; text-align: left;}
#form_6 label.error {
color: #FF5105;
margin-left: 10px;
width: auto;
display: inline;
}
#form_7 { width: 100%; text-align: left;}
#form_7 label.error {
color: #FF5105;
margin-left: 10px;
width: auto;
display: inline;
}
#form_8 { width: 100%; text-align: left;}
#form_8 label.error {
color: #FF5105;
width: auto;
display: inline;
}
/*Fin*/